# Ignorar archivo de ayuda
HELP.md

# Ignorar directorios de compilación
target/
build/

# Incluir wrapper de Maven
!.mvn/wrapper/maven-wrapper.jar

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Archivos de propiedades sensibles
src/main/resources/application.properties
src/main/resources/application-local.properties
src/main/resources/application-prod.properties
src/test/resources/application-test.properties

# Otros archivos generados o temporales
*.log
*.jar
!.mvn/wrapper/maven-wrapper.jar

# Archivos de respaldo y temporales
*~
*.bak
*.tmp